<form action="/action_page.php">
  <div class="form-group">
    <label for="email">Nome:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd">RG:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="pwd">E-mail:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <button type="button" class="btn btn-success">Gravar</button>
</form>