<form action="./cadastroVendedor" method="POST">
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input type="text" placeholder="Juliano da Silva" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="email">E-mail:</label>
    <input type="email" placeholder="juliano@gmail.com" class="form-control" id="pwd">
  </div>
  <div class="form-group">
    <label for="cpf">CPF:</label>
    <input type="number" placeholder="43227078898" class="form-control" id="pwd">
  </div>
<div class="form-group">
    <label for="cpf">Total de Vendas:</label>
    <input type="number" placeholder="5" class="form-control">
  </div>
  <button type="button submit" class="btn btn-success">Gravar</button>
</form>