<form action="./lista-produtos" method="POST">
  <div class="form-group">
    <label >Nome:</label>
    <input type="email" class="form-control">
  </div>
  <div class="form-group">
    <label >Preço:</label>
    <input type="number" class="form-control">
  </div>
  <div class="form-group">
    <label >Descrição:</label>
    <input type="text" class="form-control">
  </div>
  <button type="button" class="btn btn-success">Gravar</button>
</form>
