<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>Vendedores Cadastrados</h4>
      </div>
      <div class="col-sm">

      </div>
      <div class="col-sm text-right">
        <a href="/cadastroVendedor" title="Cadastrar Vendedor" class="btn  delete btn-success">CADASTRAR</a>
      </div>
    </div>
  </div>
  <hr>

  <body>
    <div class="container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>RG</th>
            <th>Email</th>
            <th>Total de Vendas</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="atualizaTable"></tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script>
      $(document).ready(function () {
        $.ajax({
          type: 'GET',
          url: "/api/vendedor",
          dataType: "json",
        }).done(function (data) {

          var atualizaTable = '';
          $.each(data, function (key, value) {
            $.each(value, function (key, value) {
              id = value._id;
              atualizaTable += '<tr>';
              atualizaTable += '<td>' + value.nome + '</td>';
              atualizaTable += '<td>' + value.rg + '</td>';
              atualizaTable += '<td>' + value.email + '</td>';
              atualizaTable += '<td>' + value.totalVendas + '</td>';
              atualizaTable += '<td>' + '<a href="http://www.example.com">' + '<span class="badge  badge-info"">'  + 'Alterar' + '</span>' + '</a>' + ' ' + '<a  class="delete" id=' + id + ' ' + '>' + '<span class="badge  badge-danger">'  + 'Excluir' + '</span>' + '</a>' +'</td>';
              atualizaTable += '</tr>'
            });
            $('#atualizaTable').html(atualizaTable);
          });
        });
      });

    </script>
  </body>